In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 500)

#read titanic-data.csv file, storing in pandas dataframe
df = pd.read_csv('nodes_tags_k_20.csv', header=0)

#look at how is the dataset look like
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4193 entries, 0 to 4192
Data columns (total 4 columns):
id       4193 non-null int64
key      4193 non-null object
value    4193 non-null object
type     4193 non-null object
dtypes: int64(1), object(3)
memory usage: 131.1+ KB

In [17]:
df_postcode = df[df['key']=='cuisine'][['id','key', 'value', 'type']]
df_postcode.describe()

                 id
count  3.200000e+01
mean   3.184286e+09
std    1.200356e+09
min    8.201349e+08
25%    2.365869e+09
50%    3.552020e+09
75%    4.358216e+09
max    4.504500e+09

In [12]:
df_postcode = df[df['']=='chinese'][['id','key', 'value', 'type']]
df_postcode

              id      key    value     type
1163  1709500740  cuisine  chinese  regular
1166  1709525112  cuisine  chinese  regular
1438  1811342367  cuisine  chinese  regular
1727  1964289923  cuisine  chinese  regular
3898  4054114365  cuisine  chinese  regular
3970  4269440793  cuisine  chinese  regular
4030  4365597389  cuisine  chinese  regular
4046  4365698997  cuisine  chinese  regular
4097  4427145925  cuisine  chinese  regular
4135  4473106891  cuisine  chinese  regular
4164  4504500090  cuisine  chinese  regular